<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163380633587-il4f4i8nv2md6nl3i13jg90ukq4u31f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163380633587-il4f4i8nv2md6nl3i13jg90ukq4u31f0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>163380633587-1l7jb65uu3ksptpv5l0gl6r7tu3bf572.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4Fol03m-VsQm3Qt5FLaGNzZybFGRFBz0</string>
	<key>GCM_SENDER_ID</key>
	<string>163380633587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unreal.chatup</string>
	<key>PROJECT_ID</key>
	<string>chatup-backend-48ce4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatup-backend-48ce4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163380633587:ios:138c4f3b6d6deaa5e9bc86</string>
</dict>
</plist>